//Overide bootstrap #be2a77
$primary: #447d75;
$grid-gutter-width: 1rem;
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./components/dashboard";
@import "./components/fooddetail";
@import "./components/spinloader";
@import "./components/mymodal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}
svg {
  color: $primary;
}
