@import "./components/dashboard";
@import "./components/fooddetail";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

.loader-container {
  text-align: center;
  margin-top: 10rem;
  & > * > span {
    $size: 2rem;
    height: $size;
    width: $size;
  }
}

.foodcard-container .row {
  justify-content: center;
}
